
<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.w3.org/xhtml">
<head th:replace="/common/header :: common-header"></head>
<body>


	<div th:replace="/common/header :: navbar"></div>

	<!-- Container -->
	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<h2>My account</h2>
			</div>
			<div class="col-xs-4">
				<img alt="" src="image/logo.png" class="img img-responsive" />
			</div>
		</div>
		<hr style="border: 0.5 px solid grey"/>
		<img alt="" src="image/wood.png" class="img img-responsive" />
	</div>

	<!--end of container -->


	<div th:replace="/common/header :: body-bottom-script"></div>
</body>
</html>