
<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.w3.org/xhtml">
<head th:replace="/common/header :: common-header"></head>
<body>


	<div th:replace="/common/header :: navbar"></div>

	<!-- Container -->
	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<div class="section-headline">
			<span>Featured Books</span>
		</div>
			</div>
			<div class="col-xs-4">
				<img alt="" src="image/logo.png" class="img img-responsive" style="margin-bottom: -50px" />
			</div>
		</div>
		<div class="row">
		<div class="col-xs-10">
		<hr style="margin-top: -60px;height: 5px;width: 100%;border: 5 px solid grey;position: absolute;z-index: -1"/>
		</div>
		</div>
		<img alt="" src="image/wood.png" style="margin-top: -75px;" class="img img-responsive" />

	
	
	<div class="row">
	<div class="col-xs-9 col=xs-offset-3">
	
	</div>
	</div>
	<br/>
	<div class="row">
	<div class="col-xs-9 col-xs-offset-3">
	<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Create New Account</a></li>
      <li><a href="#">Login</a></li>
      <li><a href="#">Forgot Password</a></li>
    </ul>
</nav>
	</div>
	</div>
	
	
</div>
	<!--end of container -->


	<div th:replace="/common/header :: body-bottom-script"></div>
</body>
</html>