
<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.w3.org/xhtml">
<head th:replace="/common/header :: common-header"></head>
<body>


	<div th:replace="/common/header :: navbar"></div>

	<!-- Container -->
	<div class="container">
		<div class="row">
			<div class="col-xs-8">
				<div class="section-headline">
					<span>Featured Books</span>
				</div>
			</div>
			<div class="col-xs-4">
				<img alt="" src="image/logo.png" class="img img-responsive"
					style="margin-bottom: -50px" />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-10">
				<hr
					style="margin-top: -60px; height: 5px; width: 100%; border: 5 px solid grey; position: absolute; z-index: -1" />
			</div>
		</div>
		<img alt="" src="image/wood.png" style="margin-top: -75px;"
			class="img img-responsive" /> <br />
		<div class="row">
			<div class="col-xs-9 col-xs-offset-3">
				<ul class="nav nav-tabs">
					<li><a data-toggle="tab" href="#home">Create New Account</a></li>
					<li class="active"><a data-toggle="tab" href="#menu1">Login</a></li>
					<li><a data-toggle="tab" href="#menu2">Forget Password</a></li>
				</ul>

				<div class="tab-content">
					<div id="home" class="tab-pane fade">
						<form role="form">
							<div class="col-lg-6">
								<div class="well well-sm">
									<strong><span class="glyphicon glyphicon-asterisk"></span>Required
										Field</strong>
								</div>
								<div class="form-group">
									<label for="InputName">Enter User Name</label>
									<div class="input-group">
										<input type="text" class="form-control" name="username"
											id="InputName" placeholder="Enter Name" required="required" />
										<span class="input-group-addon"><span
											class="glyphicon glyphicon-asterisk"></span></span>
									</div>
								</div>
								<div class="form-group">
									<label for="InputEmail">Enter Email</label>
									<div class="input-group">
										<input type="email" class="form-control" id="InputEmailFirst"
											name="InputEmail" placeholder="Enter Email"
											required="required" /> <span class="input-group-addon"><span
											class="glyphicon glyphicon-asterisk"></span></span>
									</div>
								</div>
								<div class="form-group">
									<label for="InputEmail">Confirm Email</label>
									<div class="input-group">
										<input type="email" class="form-control" id="InputEmailSecond"
											name="InputEmail" placeholder="Confirm Email"
											required="required" /> <span class="input-group-addon"><span
											class="glyphicon glyphicon-asterisk"></span></span>
									</div>
								</div>
								<div class="form-group">
									<label for="InputMessage">Enter Password</label>
									<div class="input-group">
										<input type="password" class="form-control" id="password"
											name="password" placeholder="Password" required="required" />
										<span class="input-group-addon"><span
											class="glyphicon glyphicon-asterisk"></span></span>
									</div>
								</div>
								<input type="submit" name="submit" id="submit" value="Submit"
									class="btn btn-info pull-right" />
							</div>
						</form>
						<div class="col-lg-5 col-md-push-1">
							<div class="col-md-12">
								<div class="alert alert-success">
									<strong><span class="glyphicon glyphicon-ok"></span>
										Success! Message sent.</strong>
								</div>
								<div class="alert alert-danger">
									<span class="glyphicon glyphicon-remove"></span><strong>
										Error! Please check all page inputs.</strong>
								</div>
							</div>
						</div>
					</div>
					<div id="menu1" class="tab-pane fade in active">

						<form class="form-signin">
							<h2 class="form-signin-heading">Please sign in</h2>
							<label for="inputEmail" class="sr-only">Email address</label> <input
								type="email" id="inputEmail" class="form-control"
								placeholder="Email address" required="required"
								autofocus="autofocus" /> <br /> <label for="inputPassword"
								class="sr-only">Password</label> <input type="password"
								id="inputPassword" class="form-control" placeholder="Password"
								required="required" />
							<div class="checkbox">
								<label> <input type="checkbox" value="remember-me" />
									Remember me
								</label>
							</div>
							<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
								in</button>
						</form>
					</div>
					<div id="menu2" class="tab-pane fade">
						<div class="row">
							<div class="col-md-4 col-md-offset-4">
								<div class="panel panel-default">
									<div class="panel-body">
										<div class="text-center">
											<h3>
												<i class="fa fa-lock fa-4x"></i>
											</h3>
											<h2 class="text-center">Forgot Password?</h2>
											<p>You can reset your password here.</p>
											<div class="panel-body">

												<form class="form">
													<fieldset>
														<div class="form-group">
															<div class="input-group">
																<span class="input-group-addon"><i
																	class="glyphicon glyphicon-envelope color-blue"></i></span> <input
																	id="emailInput" placeholder="email address"
																	class="form-control" type="email"
																	oninvalid="setCustomValidity('Please enter a valid email address!')"
																	onchange="try{setCustomValidity('')}catch(e){}"
																	required="required" />
															</div>
														</div>
														<div class="form-group">
															<input class="btn btn-lg btn-primary btn-block"
																value="Send My Password" type="submit" />
														</div>
													</fieldset>
												</form>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


	</div>
	<!--end of container -->


	<div th:replace="/common/header :: body-bottom-script"></div>
</body>
</html>